
/* Section */
#section-content{
    flex-direction: column;
    width: 350px;
    height: 600px;
}
picture{
    width: auto;
}
#section-content img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius:0px ;
}


/*Content*/
.content p{  
    width: 250px;
}
.content h1{  
    width: 290px;
    font-size: 2.1rem;
}
.content h3{  
    font-size: 0.89rem;

}
.content h2{  
    font-size: 2rem;
}

.btn{
    width: 292px;
    height: 43px;
}